@model List<Dictionary<string, string>>

@foreach (var weather in Model)
{  
    <p>Date: @weather["date"]</p>
    <p>Min Temperature: @weather["minTemp"]</p>

    <p>Max Temperature: @weather["maxTemp"]</p>

    <p>Weather Summary: @weather["summary"]</p>
    <hr />   
}




